{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Lista de UnidadOferta
{% endblock %}
 
{% block main_content %}

<h1>Lista de UnidadOferta</h1>

<ul>
    <li>
        <a href="{{ path('backend_unidadoferta_new') }}">
            Crear nuevo registro
        </a>
    </li>
</ul>


<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Unidad educativa</th>
            <th>Oferta educativa</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('backend_unidadoferta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td><a href="{{ path('backend_unidadoferta_show', { 'id': entity.id }) }}">{{ entity.unidades }}</a></td>
            <td><a href="{{ path('backend_unidadoferta_show', { 'id': entity.id }) }}">{{ entity.ofertas }}</a></td>
            <td><a href="{{ path('backend_unidadoferta_show', { 'id': entity.id }) }}">Mostrar</a>
                <a href="{{ path('backend_unidadoferta_edit', { 'id': entity.id }) }}">|| Editar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include '::includes/volver.html.twig' %}
{% endblock %}
