{# recibe entity y form #}
{% extends 'BackendBundle::layout.html.twig' %}

{% import ':Form:macro_twig.html.twig' as collection_macro %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset( 'bundles/establecimiento/css/macro_twig.css') }}" rel="stylesheet" type="text/css" />      
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/establecimiento/js/macro_twig.js') }}" charset="utf-8"></script>
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">
        Editar turnos de una carrera en un establecimiento
    </div>
    <br />

{# tarjeta del establecimiento   #}
    <div class="chica italico">Establecimiento</div>
    <span>
        {% set establecimiento_edificio = unidad_oferta.localizacion.establecimientoEdificio %}
        {% render "EstablecimientoBundle:Establecimiento:tarjeta_establecimiento_edificio" with 
                {'establecimiento_edificio': establecimiento_edificio } %}
    </span>
{#  tarjeta de la carrera  #}
    <div class="chica italico">Carrera</div>
    <span>
        {% render "OfertaEducativaBundle:Carrera:tarjeta_carrera" with {'carrera_id': unidad_oferta.ofertas.carrera.id } %}
    </span>
    <br />

{#  formulario de turnos  #}
    <form action="{{ path('establecimiento.unidad_oferta.actualizar_turnos', { 'id': unidad_oferta.id }) }}" method="post" {{ form_enctype(form) }}>
        {# turnos en que se imparte #}
        <fieldset>
            <legend class="resaltado">
                Turnos
            </legend>

            <div id="turnos" data-prototype="{{ collection_macro.widget_prototype(form.turnos, 'Eliminar')|escape }}">
                {% for widget in form.turnos.children %}
                    {{ collection_macro.widget_prototype(widget, 'Eliminar') }}
                {% endfor %}
            </div>
            <a class="btn-add" data-target="turnos">Agregar un turno</a>
        </fieldset>
        {# fin turnos #}

        {{ form_widget(form._token) }}    

        <p>
            <button type="submit">Guardar</button>
        </p>
    </form>


{% endblock %}