{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Lista de Nivel
{% endblock %}

{% block main_content %}

    <h1>Lista de niveles de enseñanza</h1>

    <div class="boton_verde float_derecha">

        <a href="{{ path('backend_nivel_new') }}">
            Crear nuevo registro
        </a>
    </div>
    <span class="limpiar_float"></span>
    <br />
    <br />
    <table class="grilla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>Orden</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('backend_nivel_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.abreviatura }}</td>
                    <td>{{ entity.orden }}</td>
                    <td>
                        <a href="{{ path('backend_nivel_edit', { 'id': entity.id }) }}">
                            Editar
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <br />


{% endblock %}
