{% extends '::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo float_izquierda">Búsqueda de carreras</div>
    <div class="limpiar_float"></div>

    <div><a class="float_derecha boton_verde" href="{{ path('carrera_nuevo') }}">Nueva carrera</a></div>
    <div class="limpiar_float"></div>

    <fieldset>
        <legend class="resaltado">Filtros</legend>
        <form method="post" action="{{ path('carrera_buscar') }}">
            <div class="ancho_10">
                {{ form_rest(form) }}
            </div>
            <br />
            <div style="display: block">

                <input type="submit" name="submit-filter" value="Buscar" />
                <span class="separador"></span>
                <a href="{{ path( "carrera_buscar" ) }}">Limpiar</a>

            </div>
        </form>
    </fieldset>

    {# muestra la grilla dependiendo de si vino un array o null #}
    {% if carreras is not null %}
        {% if carreras|length > 0 %}
            <br />

            <table class="grilla">
                <tr>
                    <th>Nombre</th>
                    <th>Año inicio</th>
                    <th>Norma</th>
                    <th></th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>

                {% for carrera in carreras %}
                    <tr>
                        {% set la_carrera = carrera.nombre %}
                        <td><a href="{{path('carrera_ficha', {'carrera_id': carrera.id})}}">{{ la_carrera }} </a></td>
                        <td>{{ carrera.anioInicio }}</td>
                        {% if carrera.oferta.normas[0] is defined %}
                            <td>{{ carrera.oferta.normas[0] }}</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a href="{{path('carrera_nomina_donde_se_dicta', {'carrera_id': carrera.id})}}">Dónde se dicta</a></td>
                        <td>{{ carrera.estado }}</td>
                        <td><a href="{{path('carrera_editar', {'id': carrera.id})}}">Editar</a></td>
                    </tr>
                {% endfor %}
            </table>

            {{ simple_paginator_render('carrera_buscar', null, {
            'container_class':'simple_paginator',
            'previousPageText':'Anterior',
            'nextPageText':'Siguiente',
            'currentClass':'Actual',
            'firstPageText':'Primero',
            'lastPageText':'Último'
        }) }}  

        {% else %}
            <br />
            <div class="descriptivo">No hay datos para los filtros especificados</div>
        {% endif %}

    {% else %}

    {% endif %}


    <br />
    <div class="float_derecha boton_azul">
        <a href="{{path('carrera_nomina_resumida_planilla_de_calculo') }}">Salida a planilla de cálculo</a>
    </div>
    <div class="limpiar_float"></div>
    <br />

    {% include '::includes/volver.html.twig' %}
{% endblock %}