{# parametros: carreras #}
{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo float_izquierda">Nómina resumida de carreras</div>
<div class="limpiar_float"></div>

{{ simple_paginator_render('carrera_nomina_resumida', null, {
    'container_class':'simple_paginator',
    'previousPageText':'Anterior',
    'nextPageText':'Siguiente',
    'currentClass':'actual',
    'firstPageText':'Primero',
    'lastPageText':'Último'
}) }} 


<table class="grilla">
    <tr>
        <th>Nombre</th>
        <th>Formación</th>
        <th></th>
    </tr>

    {% for carrera in carreras %}
    <tr>
        <td>{{ carrera.nombre }}</td>
        <td>{{ carrera.codigo }}</td>
        <td><a href="{{ path('carrera_nomina_resumida_donde_se_dicta', {carrera_id:carrera.id} ) }}">Dónde se dicta</a></td>
    </tr>
    {% endfor %}
</table>


{{ simple_paginator_render('carrera_nomina_resumida', null, {
    'container_class':'simple_paginator',
    'previousPageText':'Anterior',
    'nextPageText':'Siguiente',
    'currentClass':'actual',
    'firstPageText':'Primero',
    'lastPageText':'Último'
}) }} 

<div class="float_derecha boton_azul">
<a href="{{path('carrera_nomina_resumida_planilla_de_calculo') }}">Salida a planilla de cálculo</a>
</div>
<div class="limpiar_float"></div>

{% include '::includes/volver.html.twig' %}
{% endblock %}