{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Editar TipoNorma
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <h1>Editar tipo de norma</h1>

    <form action="{{ path('backend_tiponorma_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <div class="ancho_10">
            {{ form_widget(edit_form) }}
        </div>
        <p>
            <button type="submit">Guardar</button>
        </p>
    </form>

    <form action="{{ path('backend_tiponorma_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit" class="boton_rojo">Eliminar</button>
        <a class="separador" href="{{ path('backend_tiponorma') }}">
            Volver a la lista
        </a>
    </form>
    <br />
    <br />
    <br />
{% endblock %}