{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Crear TipoNorma
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <h1>Crear nuevo tipo de norma </h1>

    <form action="{{ path('backend_tiponorma_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="ancho_10">
        {{ form_widget(form) }}
        </div>
        <div class="bloque">
            <button type="submit">Crear</button>
            <a class="separador" href="{{ path('backend_tiponorma') }}">
                Volver a la lista
            </a>
        </div>
    </form>

    <br />
    <br />

{% endblock %}
