{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Lista de DistritoEscolar
{% endblock %}
 
{% block main_content %}

<h1>Lista de DistritoEscolar</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Número</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('backend_distrito_escolar_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.numero }}</td>
            <td>{{ entity.nombre }}</td>
            <td>
                        <a href="{{ path('backend_distrito_escolar_show', { 'id': entity.id }) }}">
                                                    Mostrar ||
                                                </a>
                        <a href="{{ path('backend_distrito_escolar_edit', { 'id': entity.id }) }}">
                                                    Editar
                                                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('backend_distrito_escolar_new') }}">
            Crear nuevo registro
        </a>
    </li>
</ul>

{% endblock %}
