{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - DistritoEscolar
{% endblock %}
 
{% block main_content %}

<h1>DistritoEscolar</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Numero</th>
            <td>{{ entity.numero }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_distrito_escolar') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('backend_distrito_escolar_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('backend_distrito_escolar_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="boton_rojo">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock %}