{# Otros datos 

Es una parte de la ficha del establecimeinto
Requiere la variable 'establecimiento'

#}
<fieldset>

    <div class="float-left">


        <span class="resaltado">Otros datos</span><br/>

        <fieldset class="float_derecha ancho_la_mitad">
            <span class="reforzado">Aclaraci칩n: </span>
            la ausencia de datos de laboratorios/centros no implica que el establecimiento no los tenga
            
        </fieldset>

        <span>Fecha de creaci칩n del establecimiento: {{ establecimiento.fechaCreacion|default('s/d') }}
        </span><br />

        <span>Fecha de las elecciones:
            {% if establecimiento.fechaElecciones %}
                {{ establecimiento.fechaElecciones|date('d-m-Y') }}
            {% else %}
                Sin datos
            {% endif %}
        </span><br />

        <span>Fecha de finalizaci칩n del mandato:
            {% if establecimiento.finMandato %}
                {{ establecimiento.finMandato | date('d-m-Y') }}
            {% else %}
                Sin datos
            {% endif %}
        </span>

        <div>Tiene cooperadora: {{ establecimiento.tieneCooperadora |default('Sin datos') }}</div>

        <div>Laboratorios/Centros:</div>
        {% for recurso in establecimiento.recursos %}
            <div class="identar_1">
                {{ '-- ' ~ recurso.recurso.descripcion ~ ': ' ~ recurso.cantidad }}
                {{ recurso.origenHora ? ' (' ~ recurso.origenHora.descripcion ~ ')' }}
                {{ recurso.comentario ? ' (' ~ recurso.comentario ~ ')' }}
            </div>
        {% else %}
            <div class="identar_1">Sin datos</div>
        {% endfor %}


        <div>Campo de deportes: {{ establecimiento.campoDeportes |default('Sin datos') }}</div>

        <div>A침o de inicio de la Nueva Escuela Secundaria: {{ establecimiento.anioInicioNes | default( 'Sin datos' ) }}</div>
        

    </div>
</fieldset>
