{% extends '::base_admin.html.twig' %}

{% form_theme delete_form ':Form:fields_bootstrap.html.twig' %}

{% block page_header %}
    <div class="col-md-9">
        <h1>Sector: ver</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <!--- muestra de campos del registro -->
    <div class="row">
        <form class="form-horizontal well">
            <div class="form-group">
                <label for="clave" class="col-md-2 control-label">Id:</label>
                <div class="col-md-10">
                    <p class="form-control-static" id="clave">{{ entity.id }}</p>
                </div>
            </div>


            <div class="form-group">
                <label for="descripcion" class="col-md-2 control-label">Descripción:</label>
                <div class="col-md-10">
                    <p class="form-control-static" id="descripcion">{{ entity.descripcion }}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="abreviatura" class="col-md-2 control-label">Abreviatura:</label>
                <div class="col-md-10">
                    <p class="form-control-static" id="abreviatura">{{ entity.abreviatura }}</p>
                </div>
            </div>
            <div>
                <a class="btn btn-success" href="{{ path('sector_edit', { 'id': entity.id }) }}">
                    Editar
                </a>
            </div>
        </form>


        <!--- barra de navegacion de abajo -->
        <div>

            <form class="navbar-form" action="{{ path('sector_delete', { 'id': entity.id }) }}" method="post">
                <ul class="nav nav-pills">
                    <li class="pull-left">
                        <a class="btn btn-link" href="{{ path('sector') }}">
                            Volver a la lista
                        </a>
                    </li>
                    <li>
                        <div class="form-group">
                            {{ form_widget(delete_form) }}
                        </div>
                        <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.mensajes.confirmar'|trans({}, 'EstablecimientoBundle') }}');">Eliminar</button>
                    </li>
                </ul>
            </form>

        </div>
    </div>
{% endblock content %}