{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Lista de Domicilio
{% endblock %}

{% block main_content %}

    <div class="titulo">Lista de domicilios de establecimientos</div>

    <div class="boton_verde float_derecha">
        <a href="{{ path('backend_domicilio_new') }}">Crear nuevo domicilio</a>
    </div>
    <span class="limpiar_float"></span>

    <br />
    <br />
    <table class="grilla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Calle</th>
                <th>Altura</th>
                <th>C. Postal</th>
                <th>Edificio</th>
                <th>Principal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('backend_domicilio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.calle }}</td>
                    <td>{{ entity.altura }}</td>
                    <td>{{ entity.cPostal }}</td>
                    <td>{{ entity.edificio }}</td>
                    <td>{{ entity.principal ? 'Si' : 'No' }}</td>
                    <td><a href="{{ path('backend_domicilio_edit', { 'id': entity.id }) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
