{% extends 'BackendBundle::layout.html.twig' %}
     
{% import ':Form:macro_twig.html.twig' as collection_macro %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset( 'bundles/establecimiento/css/macro_twig.css') }}" rel="stylesheet" type="text/css" />      
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/establecimiento/js/macro_twig.js') }}" charset="utf-8"></script>
{% endblock %}


{% block title %}
 {{ parent() }} - Editar Localizacion
{% endblock %}

{% block main_content %}
{{ parent() }}

<div class="titulo">Editar Unidad Educativa</div>

<br />

<form action="{{ path('backend_unidad_educativa_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    <div class="ancho_10">
        {{ form_row(edit_form.nivel) }}
        {{ form_row(edit_form.establecimiento) }}
        {{ form_row(edit_form.descripcion) }}
        {{ form_row(edit_form.nombre_autoridad) }}
        {{ form_row(edit_form.cargo_autoridad) }}
        {{ form_row(edit_form.cantidad_docentes) }}
    </div> 

    {% if entity.isInicial %}
        <div class="float_derecha">
            <span>
                <a href="{{ path('backend_inicial_x_edit', {'inicial_x_id': inicial_x.id, 'unidad_educativa_id': entity.id} ) }}">
                    Editar las salas de la unidad educativa
                </a>
            </span>
        </div>
    {% endif %}
    <br />
    
    {# turnos en que se imparte #}
    <fieldset>
        <legend class="resaltado">
            Turnos
        </legend>

        <div id="turnos" data-prototype="{{ collection_macro.widget_prototype(edit_form.turnos, 'Eliminar')|escape }}">
            {% for widget in edit_form.turnos.children %}
                {{ collection_macro.widget_prototype(widget, 'Eliminar') }}
            {% endfor %}
        </div>
        <a class="btn-add" data-target="turnos">Agregar un turno</a>
    </fieldset>
    {# fin turnos #}
  
    {{ form_rest(edit_form) }}    
    
    <br />
    <span class="float_izquierda">
        <button  type="submit">Guardar</button>
    </span>
        
</form>

<form action="{{ path('backend_unidad_educativa_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <span class="float_izquierda separador">
    <button type="submit" class="boton_rojo">Eliminar</button>
    </span>
</form>

<a class="separador" href="{{ path('backend_unidad_educativa') }}">
    Cancelar
</a>

<span class="limpiar_float"></span>
<br/>
<br/>
    
{% endblock %}