{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Crear UnidadEducativa
{% endblock %}
 
{% block main_content %}
{{ parent() }}

<div class="titulo">Crear nueva unidad educativa </div>
<br />
<br />

<form action="{{ path('backend_unidad_educativa_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="ancho_10">
    {{ form_widget(form) }}
    </div>
    <p>
        <button type="submit">Crear</button>
        <a class="separador" href="{{ path('backend_unidad_educativa') }}">Volver a la lista</a>
    </p>
</form>


{% endblock %}
