{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Frase célebre</div>
    <br />

    <fieldset>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id:</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Frase:</th>
                    <td>{{ entity.frase }}</td>
                </tr>
                <tr>
                    <th>Fecha:</th>
                    <td>{{ entity.fecha|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th>Autor:</th>
                    <td>{{ entity.autor }}</td>
                </tr>
            </tbody>
        </table>        
    </fieldset>

    <form action="{{ path('backend_frase_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit" class="boton_rojo">Eliminar</button>
        <a class="separador" href="{{ path('backend_frase_edit', { 'id': entity.id }) }}">Editar</a>
        <a class="separador" href="{{ path('backend_frase') }}">Volver a la lista</a>
        <a class="separador" href="{{ path('backend_frase_new') }}">Nueva frase</a>
    </form>
    <br />
{% endblock %}