{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo">{% render 'EstablecimientoBundle:UnidadOferta:tarjeta' with {'id': unidad_oferta.id} %}</div>

<br />

{# titulos #}
<fieldset>
    <legend class="resaltado">Orientaciones</legend>
    {% for orientacion in secundario_x.orientaciones %}
        {{ orientacion.orientacion }}
        <br />
        {% endfor %}    
</fieldset>
Matrícula: {{ secundario_x.matricula }}<br />
Año de inicio: {{ secundario_x.anioInicio }}
<div class="float_derecha"><a href="{{ path('backend.secundariox.edit', {'id':secundario_x.id} ) }}">Editar</a></div>

<br />

{# datos generales #}

<br/>
<div class="float_derecha volver"><a href="{{ volver }}">Volver</a></div>
<span class="limpiar_float"></span>
<br/>
<br/>
{% endblock %}