<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block head_script %}
        {% endblock head_script %}

        {% block head_style %}
            <link href="{{ asset( 'bundles/establecimiento/bs/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset( 'bundles/establecimiento/bs/css/bootstrap-theme.css') }}" rel="stylesheet" type="text/css" />
            {#        <img src="{{ asset('bundles/establecimiento/images/') }}" />#}
            <link href="{{ asset( 'bundles/jordillonchcrudgenerator/css/crud.css' ) }}" rel="stylesheet" type="text/css" />
        {% endblock head_style %}
    </head>
    <body>

        <div class="container">
            {% block container %}

                {% block navbar %}
                    {% include '::includes/menu_backend.html.twig' %}
                {% endblock navbar %}

                <div class="page-header">
                    {% block page_header %}
                    {% endblock page_header %}
                </div>

                {% block flashes %}
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% if loop.first %}
                            <div id="flash">
                            {% endif %}

                            {% for un_mensaje in flashMessages %}
                                {% if loop.first %}
                                    <div class="{{ 'flash flash_' ~ type }}">
                                    {% endif %}
                                    {{ un_mensaje }}<br />
                                    {% if loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if loop.last %}
                            </div>
                            <script>$("#flash").fadeIn('slow').delay(1200).fadeOut('slow');</script>
                        {% endif %}
                    {% endfor %}
                {% endblock flashes %}

                {% block content %}
                {% endblock content %}

                {% block footer %}  
                    <br>
                    <br>
                    <nav class="navbar navbar-default">
                        <div class="container">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <p class="navbar-text">&copy; {{fd.version_logica}}</p>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a  href="{{ path('contacto') }}" >Contacto</a></li>
                                    <li><a  href="{{ path('acerca_de') }}" >Acerca de ...</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                {% endblock footer %}

            {% endblock container %}
        </div>

        {% block foot_script %}
            <script type="text/javascript" src="{{ asset('bundles/establecimiento/bs/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/establecimiento/bs/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}" charset="utf-8"></script>
            <script type="text/javascript" src="/js/fos_js_routes.js" charset="utf-8"></script>
            <script>
                $document.ready(
                        $(function() {
                            $(".dropdown-toggle").dropdown('toggle');
                        });
                        );
            </script>
        {% endblock foot_script %}

    </body>
</html>