{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}


<div class="titulo float_izquierda">Nómina de establecimientos que imparten nivel medio</div>

<div class="limpiar_float"></div>

<br />
<table class="grilla">
    <caption class="titulo_arriba">Establecimientos</caption>
    <tr>
        <th>Nombre</th>
        <th>DE</th>
        <th>CUE</th>
        <th>Url</th>
    </tr>

    {% for establecimiento in establecimientos %}
    
    <tr>
        <td><a href="{{path('establecimiento_ficha', {'establecimiento_id':establecimiento.id})}}">{{ establecimiento.nombre }}</a></td>
        <td>{{ establecimiento.distritoEscolar }}</td>
        <td>{{ establecimiento.cue }}</td>
        <td><a href="{{ establecimiento.url }}">{{ establecimiento.url }}</a></td>
    </tr>
    {% endfor %}
</table>


{{ simple_paginator_render('medio_nomina', null, {
    'container_class':'simple_paginator',
    'previousPageText':'Anterior',
    'nextPageText':'Siguiente',
    'currentClass':'actual',
    'firstPageText':'Primero',
    'lastPageText':'Último'
}) }} 

{% include '::includes/volver.html.twig' %}
{% endblock %}