{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Editar Barrio
{% endblock %}

{% block main_content %}

    <h1>Editar un barrio</h1>
    <div class="los_label">
        <form action="{{ path('backend_barrio_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget( edit_form ) }}
            <div class="separador">
                <button type="submit">Guardar</button>
            </div>
        </form>

    </div>

    <form action="{{ path('backend_barrio_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit" class="separador boton_rojo">Eliminar</button>
        <a class="separador" href="{{ path('backend_barrio') }}">
            Volver a la lista
        </a>
    </form>
    <br />
    <br />

{% endblock %}