{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Editar Establecimiento 
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <h1>Editar Establecimiento: {{ entity.apodo }}</h1>

    <form action="{{ path('backend_establecimiento_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <div class="ancho_20">
            {{ form_widget(edit_form) }}
            <br />
        </div>
        <div class="float_izquierda separador">
            <input type="submit" value="Guardar" />
        </div>
    </form>

    <a class="float_izquierda separador" href="{{ path('backend_establecimiento') }}">
        Volver a la lista
    </a>
    <span class="separador">
        <a href="{{ path('backend_autoridad_buscar') }}">
            Carga de autoridades
        </a>
    </span>
    <span class="separador">
        {% set edificio = entity.edificioPrincipal %}
        {% if edificio is not empty %}
            <a href="{{ path('backend_edificio_edit', { 'id': edificio.edificios.id } ) }}">
                Edificio principal
            </a>
        {% endif %}
    </span>
    <div>
        <form action="{{ path('backend_establecimiento_delete', { 'id': entity.id }) }}" onsubmit="return confirm('Está seguro?')" method="post">
            {{ form_widget(delete_form) }}
            <span class="separador">
                <input type="submit" class="boton_rojo" value="Eliminar" />
            </span>
        </form>
    </div>
    <span class="limpiar_float"></span>
    <br />
    <br />

{% endblock %}