{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

    <h1>Crear registro de Establecimiento</h1>

    <form action="{{ path('backend_establecimiento_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="ancho_15">
            {{ form_widget(form) }}
        </div>
        <p>
            <button type="submit">Crear</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('backend_establecimiento') }}">
                Volver a la lista
            </a>
        </li>
    </ul>

{% endblock %}
