{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="sub_titulo">Establecimiento: {{ sede_anexo.identificacion }}</div>
    <div class="titulo">Asignar dependencia</div>

    <div class="instrucciones">
        <p>
            Si la dependencia ya tiene asignados cargos no se va a poder desasignar. Primero hay que desasignarle los cargos.
        </p>
    </div>

    <br />
    <br />
    {% for un_item in dependencias_forms %}
        {% set form = un_item['form'] %}
        {% set nombre = un_item['nombre'] %}

        <form action="{{ path( accion ) }}" method="post" {{ form_enctype(form) }}>
            <div class="float_izquierda ancho_10_div">
                {{ nombre }}
            </div>
            <div class="invisible">
                {{ form_widget( form ) }}
            </div>
            <input type="submit" value="{{ form.vars.value.accion_del_form }}">
        </form>
        <hr class="limpiar_float" />

    {% endfor %}

    <div class="limpiar_float"></div>

    <hr>

    <br />

    <div class="float_derecha volver"><a href="{{ path('backend.cargaagenda.organizacion_damero') }}">Nueva selección</a></div>

    <br />
    <br />

{% endblock %}