{% extends '::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Inspectores de infraestructura de los establecimientos</div>

    <br />

    <table class="grilla">
        <tr>
            <th>Establecimiento</th>
            <th>Nombre</th>
            <th>TE</th>
            <th>Email</th>
        </tr>

        {% for establecimiento_edificio in establecimiento_edificios %}
            <tr>
                <td>
                    <span>{{ establecimiento_edificio.apodo 
                                ~ '/' ~ establecimiento_edificio.anexo 
                                ~ ' - ' ~ establecimiento_edificio.calle
                                ~ ' ' ~ establecimiento_edificio.altura 
                    }}</span>
                </td>
                <td>
                    <span>{{ establecimiento_edificio.apellido ~ ', ' ~ establecimiento_edificio.nombre }}</span>
                </td>
                <td>
                    <span>{{ establecimiento_edificio.te }}</span>
                </td>
                <td>
                    <span>{{ establecimiento_edificio.email }}</span>
                </td>
            </tr>
        {% endfor %}

    </table>

    {% include '::includes/volver.html.twig' %}

{% endblock %}