{% extends 'BackendBundle::layout.html.twig' %}

{% import ':Form:macro_twig.html.twig' as collection_macro %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset( 'bundles/establecimiento/css/macro_twig.css') }}" rel="stylesheet" type="text/css" />      
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/establecimiento/js/macro_twig.js') }}" charset="utf-8"></script>
{% endblock %}
    
{% block main_content %}
{{ parent() }}

    <div class="titulo">Editar Salas de Nivel Inicial</div>
    <br />

    <div class="chica italico">Establecimiento</div>
    <span class="chica">
        {% render "EstablecimientoBundle:Establecimiento:tarjeta_establecimiento" with {'establecimiento_id': unidad_educativa.establecimiento.id} %}
    </span>
    <br />

    <form action="{{ path('backend.inicialx.update', { 'inicial_x_id': entity.id, 'unidad_educativa_id': unidad_educativa.id }) }}" method="post" {{ form_enctype(form) }}> 

        <div class="ancho_10">
            {{ form_row(form.matricula) }}
        </div> 

        <br />
        <fieldset>
            <legend class="resaltado">
                Salas
            </legend> 
            <div id="salas" data-prototype="{{ collection_macro.widget_prototype(form.salas, 'Eliminar')|escape }}">
                {% for widget in form.salas.children %}
                    {% if loop.first %}
                        <div class="linea resaltado">
                            {% for campo in widget.children %}
                                <div style="margin-right: {{ campo.vars.attr.ancho }}em;">{{ campo.vars.attr.descripcion }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {{ collection_macro.widget_prototype(widget, 'Eliminar') }}
                {% endfor %}
            </div>
            <a class="btn-add" data-target="salas">Agregar</a>
        </fieldset>
        {{ form_rest(form) }}   
        <br />
        <div class="float_izquierda">
                    <input type="submit" value="Guardar" />
        </div>
        <a class="separador" href="{{ path('backend_unidad_educativa_edit', {'id': unidad_educativa.id }) }}">
                    Volver a la unidad educativa
        </a>

    </form>
    <br />
    <br />    

{% endblock %}