<span class="float_izquierda">
    <ul>
        <li><a href="{{ path('fd_backend_default_portada') }}">Nómina de tablas</a></li>
        <li><a href="#">Datos personales de autoridades</a>
            <ul>
                <!--ver si armo un crud tipo el existente o si armo otra cosa para las autoridades-->
                <li><a href="{{ path('backend.autoridad.buscar') }}">Autoridades</a></li>
                <li><a href="{{ path('backend_cargo') }}">Cargos</a></li>
                <li><a href="{{ path('backend.dependencia.index') }}">Dependencias</a></li>
                <li><a href="{{ path('backend.organizacioninterna.buscar') }}">Organización Interna</a></li>
                <li><a href="{{ path('backend.plantelestablecimiento.buscar') }}">Plantel del establecimiento</a></li>
            </ul>
        </li>
        
    </ul>
</span>  
<span class="limpiar_float"></span>
<span class="float_derecha">
    <ul>
        <li><a href="{{ path('establecimiento_nomina') }}">Volver al frontend</a></li>
    </ul>
</span>
<span class="limpiar_float"></span>
