{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Crear UnidadOferta
{% endblock %}
 
{% block main_content %}
{{ parent() }}

<h1>Crear registro de UnidadOferta </h1>

<form action="{{ path('backend_unidadoferta_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="ancho_10">
    {{ form_widget(form) }}
    </div>
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_unidadoferta') }}">
            Volver a la lista
        </a>
    </li>
</ul>

{% endblock %}
