{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Búsqueda de disciplinas
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Búsqueda de disciplinas</div>

    <div><a class="float_derecha boton_verde" href="{{ path('backend.disciplina.new') }}">Nueva disciplina</a></div>
    <div class="limpiar_float"></div>

    <fieldset>
        <legend class="resaltado">Filtros</legend>
        <form method="post" action="{{ path('backend.disciplina.buscar') }}">
            <div class="ancho_10">
                {{ form_rest(form) }}
            </div>
            <br />
            <div style="display: block">

                <input type="submit" name="submit-filter" value="Buscar" />
                <span class="separador"></span>
                <a href="{{ path( "backend.disciplina.buscar" ) }}">Limpiar</a>

            </div>
        </form>
    </fieldset>

    {% if disciplinas is not null %}
        {% if disciplinas|length > 0 %}

            <br />

            <table class="grilla">
                <tr>
                    <th>Descripción</th>
                    <th>Código</th>
                    <th>Acciones</th>
                </tr>

                {% for disciplina in disciplinas %}
                    <tr>
                        <td><a href="{{path('backend.disciplina.edit', {'id': disciplina.id})}}">{{ disciplina.descripcion }}</a></td>

                        <td>{{ disciplina.codigo }}</td>

                        <td><a href="{{path('backend.disciplina.edit', {'id': disciplina.id})}}">Editar</a></td>
                    </tr>
                {% endfor %}
            </table>

            {{ simple_paginator_render('backend.disciplina.buscar', null, {
        'container_class':'simple_paginator',
        'previousPageText':'Anterior',
        'nextPageText':'Siguiente',
        'currentClass':'Actual',
        'firstPageText':'Primero',
        'lastPageText':'Último'
    }) }}  

        {% else %}
            {% include 'EstablecimientoBundle:Default:includes/no_hay.html.twig' %}
        {% endif %}
    {% endif %}

    <br />
    <br />


    {% include '::includes/volver.html.twig' %}
{% endblock %}