{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Editar una disciplina</div>

    <form action="{{ path('backend.disciplina.update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <div class="ancho_10">
            {{ form_row(edit_form.descripcion) }}
            {{ form_row(edit_form.codigo) }}
        </div>
        <div>
            {{ form_row(edit_form._token) }}
        </div>
        <p class="separador">
            <button type="submit">Guardar</button>
        </p>
    </form>

    <form action="{{ path('backend.disciplina.delete', { 'id': entity.id }) }}" method="post">

        <div class="invisible">
            {{ form_widget(delete_form) }}
        </div>

        <input type="submit" class="separador boton_rojo" value="Eliminar" onsubmit="return confirm('Está seguro?')" />

        {% if app.session.get('ruta_completa') is not empty %}
            <a class="separador" href="{{ path(app.session.get('ruta_completa'), app.session.get('parametros')) }}">Volver</a>
        {% endif %}

        <a class="separador" href="{{ path('backend.disciplina.new') }}">Crear nueva</a>

        <a class="separador" href="{{ path('backend.disciplina.buscar') }}">Nueva búsqueda</a>
    </form>

    <br />
    <br />

{% endblock %}