{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Crear nueva disciplina</div>

    <form action="{{ path('backend.disciplina.create') }}" method="post" {{ form_enctype(form) }}>
        <div class="ancho_10">
            {{ form_widget(form) }}
        </div>
        <p class="separador">
            <button type="submit">Crear</button>
            <a class="separador" href="{{ path('backend.disciplina.buscar') }}">Nueva selección</a>
        </p>
    </form>

    <br />
    <br />

{% endblock %}