{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Editar una autoridad de establecimiento</div>

    <form action="{{ path('backend.autoridad.update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <div class="ancho_10">
            {{ form_widget(edit_form) }}
        </div>
        <p class="separador">
            <button type="submit">Guardar</button>
        </p>
    </form>

    <form action="{{ path('backend.autoridad.delete', { 'id': entity.id }) }}" method="post">

        <div class="invisible">
            {{ form_widget(delete_form) }}
        </div>

        <input type="submit" class="separador boton_rojo" value="Eliminar" onsubmit="return confirm('Está seguro?')" />

        <a class="separador" href="{{ path('backend.autoridad.buscar') }}">Volver</a>

        <a class="separador" href="{{ path('backend.autoridad.new') }}">Crear nueva</a>
    </form>

    <br />
    <br />

{% endblock %}