{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Crear registro de Autoridad </div>

    <form action="{{ path('backend.autoridad.create') }}" method="post" {{ form_enctype(form) }}>
        <div class="ancho_10">
            {{ form_widget(form) }}
        </div>
        <p class="separador">
            <button type="submit">Crear</button>
            <a href="{{ path('backend.autoridad.buscar') }}">Volver</a>
        </p>
    </form>

    <br />
    <br />

{% endblock %}
