{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Lista de Matrículas por año
{% endblock %}

{% block main_content %}

    <div class="titulo">Matrícula por Año</div>
    <br />

    <div class="instrucciones">
        Para cargar matrícula seleccione el establecimiento y la carrera.<br />
        Aparecerá la lista de los años ya ingresados.<br />
        Edite el año que corresponda o cree uno nuevo.
    </div>
    <br />

    <div class="float_derecha">
        <span >
            <a href="{{ path('backend_cohorte_new') }}">Crear nuevo año para datos de matrícula</a>
        </span>
    </div>
    <div class="limpiar_float"></div>

    <br />
    <div>

        <select id="cmb_sedes_anexos">
            {% for key, valor in sedes_anexos %}
                <option value="{{ valor['localizacion_id'] }}">{{ valor['establecimiento_nombre'] ~ ' - ' ~ valor['establecimiento_edificio_nombre'] }}</option>
            {% endfor %}
        </select>

        <select id="cmb_carreras">

        </select>
    </div>

    <span class="limpiar_float"></span>

    <br />
    <br />
    <div id="lista_anios"></div>

    <br />
    <br />
{% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function () {

            //cargo los datos iniciales para completar la pagina
            cargar_combo_carreras();
            cargar_lista_matricula();

            //asigno los eventos
            $('#cmb_sedes_anexos').change(function ()
            {
                cargar_combo_carreras();
                cargar_lista_matricula();
            });

            $('#cmb_carreras').change(function ()
            {
                cargar_lista_matricula();
            });


        });

        function cargar_combo_carreras() {

            var clave = $("#cmb_sedes_anexos").val();
            $('#cmb_carreras option').remove();

            //usando FOSJsRouingBundle
            $.ajax({
                type: 'GET',
                dataType: 'json',
                async: false,
                url: Routing.generate('carrera_combo', {establecimiento_id: clave}),
                success: function (data) {
                    $.each(data, function (i) {
                        $('#cmb_carreras').append($("<option></option>").attr("value", this.value).text(this.text));
                    });
                },
            });

        }
        ;

        function cargar_lista_matricula() {

            $("#divCargando").show();

            var id_localizacion = $("#cmb_sedes_anexos").val();
            var id_carrera = $('#cmb_carreras').val();

            //usando FOSJsRouingBundle
            $.ajax({
                url: Routing.generate('backend_cohorte_listar', {establecimiento_id: id_localizacion, carrera_id: id_carrera}),
                type: 'GET',
                async: false,
                success: function (data) {
                    $("#lista_anios").html(data);
                },
            });
            $('#divCargando').hide();
        }
        ;



    </script>

{% endblock %}        