{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Matrícula
{% endblock %}
 
{% block main_content %}

<h1>Matrícula</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id: </th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Año: </th>
            <td>{{ entity.anio }}</td>
        </tr>
        <tr>
            <th>Matricula: </th>
            <td>{{ entity.matricula }}</td>
        </tr>
        <tr>
            <th>Desgranamiento: </th>
            <td>{{ entity.desgranamiento }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_cohorte') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('backend_cohorte_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('backend_cohorte_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="boton_rojo">Eliminar</button>
        </form>
    </li>
</ul>

{% include '::includes/volver.html.twig' %}

{% endblock %}