{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<br />

<p class="titulo">{{ const.NOMBRE }}</p>
<br />
<br />
<p class="sub_titulo">{{ const.VERSION_LOGICA }}</p>
<p  class="identado_1">Desarrollado con:</p>
<p class="identado_2">{{ const.VERSION_SYMFONY }}</p>
<p class="identado_2">{{ const.VERSION_DOCTRINE }}</p>
<p class="identado_2">{{ const.VERSION_APACHE }}</p>
<p class="identado_2">{{ const.VERSION_MYSQL }}</p>
<p class="identado_2">{{ const.VERSION_FIREFOX }}</p>

{% include '::includes/volver.html.twig' %}
    
{% endblock %}