{# listado de establecimientos que cumplen aniversarios #}

{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo float_izquierda">Aniversarios significativos</div>

<br />
<br />

<div class="float_izquierda instrucciones">
    {{ 'Los aniversarios que se tienen en cuenta son: '}}
    {% for anio in intervalos %}
        {{ anio }}
        {% if not loop.last %}
            {{ ', ' }}
        {% else %}
            {{ ' a침os' }}
        {% endif %}
    {% endfor %}
        
</div>
    
<div class="limpiar_float">
    
<br /><br />

<table class="grilla">
    <tr>
        <th>A침o</th>
        <th>Aniversario</th>
        <th>Establecimiento</th>
        <th>Fecha de creaci칩n</th>
    </tr>

    {% for aniversario in aniversarios %}
    <tr>
        <td>{{ aniversario['anio_calendario'] }}</td>
        <td>{{ aniversario['aniversario'] ~ ' a침os'}}</td>
        <td>{{ aniversario['apodo'] }}</td>
        <td>{{ aniversario['fecha_creacion'] }}</td>
    </tr>
    {% endfor %}
</table>

<br /><br />

{% endblock %}