{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<br />

<p class="titulo">{{ const.DEPENDENCIA }}</p>
<p class="mediana">Email: <a href="{{ 'mailto:' ~ const.EMAIL }}">{{ const.EMAIL }}</a></p>
<p class="mediana">Sitio web: <a href="{{ const.SITIO_WEB }}">{{ const.SITIO_WEB }}</a></p>

{% for telefono in const.TELEFONOS %}

    <p class="mediana">{{ telefono['oficina'] ~ ': ' ~ telefono['te'] }}</p>

{% endfor %}

{% endblock %}