{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo float_izquierda">Establecimientos que funcionan en el edificio</div>

<div class="limpiar_float"></div>
<br />
<span class="mediana">
{% render "EdificioBundle:Default:tarjeta_edificio" with {'edificio_id': edificio_id} %}
</span>
<br />

{% for establecimiento_edificio in establecimiento_edificios %}

<span class="mediana"><a href="{{ path('establecimiento_ficha', {'establecimiento_id': establecimiento_edificio.establecimientos.id }) }}">{{ establecimiento_edificio.identificacion }}</a></span><br />
    CUE: {{ establecimiento_edificio.establecimientos.cue }}/{{ establecimiento_edificio.cueAnexo}}<br />
    Distrito escolar: {{ establecimiento_edificio.establecimientos.distritoEscolar }}<br />
    Comuna: {{ establecimiento_edificio.establecimientos.comuna }}<br />
    CGP: {{ establecimiento_edificio.establecimientos.cgp }}
    <br/><br/>
    <span class="resaltado">Niveles:</span><br/>
        {% for localizacion in establecimiento_edificio.localizacion %}
            <span class="separador"></span>{{ localizacion.unidadEducativa.nivel.nombre}}<br/>
        {% endfor %}    
    <br />
    <br />
{% endfor %}

{% include '::includes/volver.html.twig' %}
    
{% endblock %}