{# parametros : establecimiento, edificio_principal, carreras, especializaciones #}
{# establecimientobundle:default #}

{% extends '::layout2col.html.twig' %}

{% block contenido %}

    <div id="contenido">
        {# nombre del establecimiento #}
        <div class="titulo">
            {{ establecimiento.nombre }} <br />
            <span class="chica">
                D.E.: {{establecimiento.distritoEscolar}} 
                - Comuna: {{ establecimiento.comuna }}
                - CUE: {{ establecimiento.cue}}
            </span>
        </div>

        <div>
            {# direcciones de los edificios #}

            {% for establecimiento_edificio in datos_localizados %}

                {% set domicilio_principal = establecimiento_edificio['domicilio']['calle'] ~ ' ' ~  establecimiento_edificio['domicilio']['altura'] %}

                {% if not loop.first %}
                    <span class="resaltado">
                        ( Anexo : <a href='#{{ establecimiento_edificio['cue_anexo'] }}'>
                            {{ domicilio_principal }}
                        </a>)
                    </span>
                {% else %}
                    <span class="mediana resaltado">
                        {{ domicilio_principal }}
                    </span>
                {% endif %}
                {% include "EdificioBundle:Default:includes/ver_mapa.html.twig" with 
                        {'calle': establecimiento_edificio['domicilio']['calle'],
                         'altura': establecimiento_edificio['domicilio']['altura'] } 
                %}

            {% endfor %}

            <br />
            <br />
            <div>Sitio web: <a href="{{establecimiento.url}}">{{establecimiento.url}}</a></div>

            <br />

            {# datos especificos de acada anexo #}

            {% for establecimiento_edificio in datos_localizados %}

                <div class="float_izquierda ancho">

                    {% set domicilio_principal = establecimiento_edificio['domicilio']['calle'] ~ ' ' ~  establecimiento_edificio['domicilio']['altura'] %}

                    {% if not loop.first %}
                        <fieldset style="background-color: #ffc;">
                            <a class="mediana resaltado" name='{{ establecimiento_edificio['cue_anexo'] }}'>
                                Anexo {{ domicilio_principal }}</a>
                            {% endif %}

                        <div>Código postal: {{ establecimiento_edificio['cp'] }} </div>
                        <div>Barrio: {{ establecimiento_edificio['barrio'] }}</div>
                        <div><a href="{{ path('edificio_de_un_cue', {'establecimiento_id': establecimiento.id } ) }}">Edificio(s) (con quien se comparte)</a></div>
                        <div>{{ 'Inspector/a de infraestructura: ' ~ establecimiento_edificio['inspector']  }}</div>

                        <br />

                        {# agenda de la sede / anexo #}
                        {% include "EstablecimientoBundle:Default:ficha/agenda.html.twig" with { 'agenda':establecimiento_edificio['agenda'] } %}
                        
                        <br />
                        
                        {% set unidad_educativas = establecimiento_edificio['unidad_educativas'] %}

                        {# carreras terciarias #}
                        {% include "EstablecimientoBundle:Default:ficha/carreras.html.twig" with { 'unidad_educativas':unidad_educativas } %}

                        <br />

                        {# niveles que funcionan en el establecimiento    #}
                        {% include "EstablecimientoBundle:Default:ficha/niveles_edificio.html.twig" with { 'unidad_educativas':unidad_educativas } %}

                        {# matricula de los niveles que funcionan en el establecimiento    #}
                        {% include "EstablecimientoBundle:Default:ficha/matricula_edificio.html.twig" with { 'unidad_educativas':unidad_educativas, 'establecimiento':establecimiento } %}

                        {# turno localizados de los niveles. Se envía un array con los niveles de un edificio y los turnos de cada nivel #}
                        {% include 'EstablecimientoBundle:Default:includes/turnos_niveles.html.twig' with 
                            { 'unidad_educativas_array': establecimiento_edificio['unidad_educativas'] } %}

                        {# cantidad de docentes en el edificio por nivel #}
                        {% include "EstablecimientoBundle:Default:ficha/docentes_edificio.html.twig" with 
                            { 'unidad_educativas':unidad_educativas, 'establecimiento_edificio':establecimiento_edificio } %}

                        <br />                        

                        {# cuadro de matricula #}

                        <div class="limpiar_float">
                            <BR />
                        </div>
                        
                        {#  busco cual es la localizacion del nivel terciario #}
                        {% for ue in establecimiento_edificio['unidad_educativas'] %}
                            {% if ue['nivel_abreviatura'] == 'Ter' %}
                                <fieldset >
                                    <a class="resaltado" target="_blank" href="{{ path('sede_anexo_cuadro_matricula', {'localizacion_id': ue['localizacion_id'], 'tipo':'carrera' } ) }}">Cuadro de matrícula de carreras</a><br/>
                                </fieldset>
                            {% endif %}  
                        {% endfor %}  
                        <br />                        

                        {% if not loop.first %}
                        </fieldset>
                    {% endif %}
                    <br />
                </div>

                <span class="limpiar_float"></span>
            {% endfor %}


            {# Otros datos #}
            {% include "EstablecimientoBundle:Default:ficha/otros_datos.html.twig" with { 'establecimiento':establecimiento} %}

            <br />

            {# normativa #}
            {% include "EstablecimientoBundle:Default:ficha/normativa.html.twig" with { 'establecimiento':establecimiento} %}

            <br />

        </div>

        <span class="limpiar_float"></span>
    </div>

{% endblock contenido %}

{% block main_content %}
    {{ parent() }}
    {% include '::includes/volver.html.twig' %}
{% endblock main_content %}