{% extends '::layout.html.twig' %}


{% block main_content %}
    {{ parent() }}
    <br />
    <div class="sub_titulo">Seleccione el listado que desea emitir</div>
    <br />

    <table border="0" >
        <tbody>


            {# este es el acceso sólo para el super_admin #}

            <tr >
                <td>
                    <a href="{{ path('establecimiento_salida_planilla') }}">Listado de de establecimientos</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path( 'oferta_educativa.carrera.listado_carreras') }}">Oferta de carreras</a>
                </td>
                <td class="instrucciones" >Incluye todos los establecimientos, sus carreras por sede/anexo, turnos, cupos y si tienen examen de ingreso</td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('establecimiento.establecimiento_edificio.sedes_anexos_salida_planilla') }}">Sedes y anexos</a>
                </td>
            </tr>
            <tr >
                <td><a href="{{ path('establecimiento.autoridad.listado_rectores') }}">Listado de rectores</a></td>
            </tr>
            <tr >
                <td><a href="{{ path('edificio.inspector.listado_inspectores') }}">Listado de inspectores de infraestructura</a></td>
            </tr>
            <tr >
                <td><a href="{{ path('establecimiento.localizacion.matricula_de_localizacion') }}">Listado de matrícula</a></td>
                <td class="instrucciones">Pedido por Ludmila. Contiene la matrícula de todos los niveles de todos los establecimientos por comuna y DE</td>
            </tr>

        </tbody>
    </table>

    <br />
    <br />

{% endblock %}
