{# parametros: establecimientos #}

{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo float_izquierda">Nómina de establecimientos</div>

<div class="limpiar_float"></div>
<br />

{{ simple_paginator_render('establecimiento_nomina', null, {
    'container_class':'simple_paginator',
    'previousPageText':'Anterior',
    'nextPageText':'Siguiente',
    'currentClass':'actual',
    'firstPageText':'Primero',
    'lastPageText':'Último'
}) }} 

<table class="grilla">
    <tr>
        <th>Establecimiento</th>
        <th>D.E.</th>
        <th>Comuna</th>
        <th>CUE</th>
        <th>Edificios</th>
<!--        <th>Url</th> -->
    </tr>

    {% for establecimiento in establecimientos %}
    <tr>
        <td><a href="{{path('establecimiento_ficha', {'establecimiento_id':establecimiento.id})}}">{{ establecimiento.apodo }}</a></td>
        <td>{{ establecimiento.distritoEscolar }}</td>
        <td>{{ establecimiento.edificioPrincipal.edificios.comuna }}</td>
        <td>{{ establecimiento.cue }}</td>
        <td>
        {% set cuales = '' %}
        {% for un_edificio in establecimiento.edificio %}
                {% set cuales = cuales ~ un_edificio.edificios.domicilioPrincipal  %}
                {% if not loop.last %}
                    {% set cuales = cuales ~ ' - ' %}
                {% endif %}
        {% endfor %}
<!--         set cuales = cuales|slice(0,8) ~ ' ...'   -->
            <a href="{{ path('edificio_de_un_cue', {'establecimiento_id': establecimiento.id } ) }}">{{ cuales }}</a></td>
<!--        <td><a href="{{ establecimiento.url }}">{{ establecimiento.url }}</a></td> -->
    </tr>
    {% endfor %}
</table>


{{ simple_paginator_render('establecimiento_nomina', null, {
    'container_class':'simple_paginator',
    'previousPageText':'Anterior',
    'nextPageText':'Siguiente',
    'currentClass':'actual',
    'firstPageText':'Primero',
    'lastPageText':'Último'
}) }} 

<br />
<div class="float_derecha boton_azul">
    <a href="{{path('establecimiento_salida_planilla') }}">Salida a planilla de cálculo</a>
</div>
<div class="limpiar_float"></div>
<br />

{% include '::includes/volver.html.twig' %}
{% endblock %}