{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Editar OfertaEducativa
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <h1>Editar una oferta educativa</h1>

    <form action="{{ path('backend_ofertaeducativa_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <p>
            {{ form_errors(edit_form.carrera) }}
            {{ form_label(edit_form.carrera) }}
            {{ form_widget(edit_form.carrera) }}
        </p> 
        <p>
            {{ form_errors(edit_form.normas) }}
            {{ form_label(edit_form.normas) }}
            {{ form_widget(edit_form.normas ) }}
        </p> 

        {{ form_rest(edit_form) }}    
        <p>
            <button class="separador" type="submit">Guardar</button>
        </p>
    </form>

    <form action="{{ path('backend_ofertaeducativa_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit" class="separador boton_rojo">Eliminar</button>
        <a class="separador" href="{{ path('backend_ofertaeducativa') }}">
            Volver a la lista
        </a>
    </form>
    <br />
    <br />
{% endblock %}