{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Lista de OfertaEducativa
{% endblock %}

{% block main_content %}

    <h1>Lista de ofertas educativas de todos los niveles</h1>

    <div class="float_derecha boton_verde">

        <a href="{{ path('backend_ofertaeducativa_new') }}">
            Crear nueva oferta
        </a>
    </div>
    <span class="limpiar_float"></span>


    <table class="grilla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Oferta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('backend_ofertaeducativa_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.__toString() }}</td>
                    <td><a href="{{ path('backend_ofertaeducativa_edit', { 'id': entity.id }) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include '::includes/volver.html.twig' %}
{% endblock %}
