{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Crear OfertaEducativa
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <h1>Crear registro de OfertaEducativa </h1>

    <form action="{{ path('backend_ofertaeducativa_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="ancho_5">
            {{ form_widget(form) }}
        </div>
        <div class="bloque">
            <button type="submit">Crear</button>
            <a class="separador" href="{{ path('backend_ofertaeducativa') }}">
                Volver a la lista
            </a>
        </div>
    </form>

    <br />
    <br />
{% endblock %}
