    <form action="#" method="POST" {{ form_enctype(search_form) }}>
        <table>
            <tr>
                <td>          
                    {{ form_label( search_form.numero ) }}
                </td>
                <td>
                    {{ form_widget( search_form.numero ) }}
                </td>
            </tr>
            <tr>
                <td>          
                    {{ form_label( search_form.anio ) }}
                </td>
                <td>
                    {{ form_widget( search_form.anio ) }}
                </td>
            </tr>
            <tr>
                <td>          
                    {{ form_label( search_form.tipo ) }}
                </td>
                <td>
                    {{ form_widget( search_form.tipo ) }}
                </td>
            </tr>

            {{ form_rest( search_form ) }}
        </table>

        <br />
        <div style="display: block">

            <input type ="submit" value="Buscar">
            <a href="{{ path('backend_norma_edit', {'id': entity.id } ) }}">Cancelar</a>

        </div>
    </form>