{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Crear Edificio
{% endblock %}

{% block main_content %}

    <div class="titulo">Crear registro de Edificio </div>

    <form action="{{ path('backend_edificio_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="ancho_10">
            {{ form_widget(form) }}
        </div>
        <div>
            <button type="submit">Crear</button>
            <a class="separador" href="{{ path('backend_edificio') }}">Volver a la lista</a>
        </div>
    </form>

    <br />

{% endblock %}
