        <li><a href="#">Ayuda</a>
            <ul>
                <li><a href="{{ path('avisos') }}">Avisos</a></li>
                <li><a href="{{ path('frases') }}">Frases célebres</a></li>
                <li><a href="{{ path('avances_del_sistema') }}">Avances del sistema</a></li>
                <li><a href="{{ path('contacto') }}">Datos de contacto de la DFD</a></li>
                <li><a href="{{ path('cumpleanios') }}">Cumpleaños de los usuarios</a></li>
                <li><a href="{{ path('glosario') }}">Glosario</a></li>
                <li><a href="{{ path('acerca_de') }}">Acerca de</a></li>
            </ul>
        </li>