{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Lista de GrupoEtario
{% endblock %}

{% block main_content %}

    {% set grupo_etario = 'Grupo etario' %}

    <div class="titulo">Lista de grupos etarios</div>

    <div class="boton_verde float_derecha">
        <a href="{{ path('backend.grupo_etario.new') }}">
            Crear nuevo {{ grupo_etario |lower }}
        </a>
    </div>
    <span class="limpiar_float"></span>

    <br />
    
    <table class="grilla">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Orden</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.codigo }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.orden }}</td>
                    <td><a href="{{ path('backend.grupo_etario.edit', { 'id': entity.id }) }}">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include '::includes/volver.html.twig' %}

{% endblock %}

