{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - GrupoEtario
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Grupo Etario</div>

    <fieldset>
        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id: </th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Código: </th>
                    <td>{{ entity.codigo }}</td>
                </tr>
                <tr>
                    <th>Descripción: </th>
                    <td>{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    <th>Orden: </th>
                    <td>{{ entity.orden }}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <br />

    <div>
        <form action="{{ path('backend.grupo_etario.delete', { 'id': entity.id }) }}" method="post">
            <a class="separador" href="{{ path('backend.grupo_etario.edit', { 'id': entity.id }) }}">Editar</a>

            <div class="invisible">
                {{ form_widget(delete_form) }}
            </div>

            <button class ="separador boton_rojo" type="submit" >Eliminar</button>

            <a class="separador" href="{{ path('backend.grupo_etario') }}">Volver a la lista</a>
        </form>
    </div>

    {% include '::includes/volver.html.twig' %}

{% endblock %}