{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Cambio de password de {{ entity }}</div>

    <form action="{{ path( 'usuario_cambiar_password', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <!-- botones de acciones -->
        <br />
        
        <div class="float_izquierda separador">
            <input type="submit" value="Guardar cambio" />
        </div>

    </form>

    <span class="separador"></span>
    <a href="{{ path('usuario_editar', {'id':entity.id } ) }}">Cancelar</a>
    
    <span class="separador"></span>
    <a href="{{ path('usuario_index') }}">Volver a la lista</a>

    <span class="limpiar_float"></span>
    
    <br />
    <br />
    <br />

{% endblock %}