{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Lista de Glosario
{% endblock %}
 
{% block main_content %}

<h1>Lista de Glosario</h1>

<ul>
    <li>
        <a href="{{ path('backend_glosario_new') }}">
            Crear nuevo registro
        </a>
    </li>
</ul>


<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Termino</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('backend_glosario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.termino }}</td>
            <td>{{ entity.descripcion }}</td>
            <td>                        <a href="{{ path('backend_glosario_show', { 'id': entity.id }) }}">
                                                    Mostrar
                                                </a>                        <a href="{{ path('backend_glosario_edit', { 'id': entity.id }) }}">
                                                    || Editar
                                                </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include '::includes/volver.html.twig' %}
{% endblock %}
