{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Lista de CargoAutoridad
{% endblock %}

{% block main_content %}

    <h1>Lista de cargos</h1>

    <div class="float_derecha boton_verde">  
        <a href="{{ path('backend_cargo_new') }}">
            Crear nuevo cargo
        </a>
    </div>
    <span class="limpiar_float"></span>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('backend_cargo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.abreviatura }}</td>
                    <td>
                        <a href="{{ path('backend_cargo_edit', { 'id': entity.id }) }}">
                            Editar
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <br />

{% endblock %}
