{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Editar EstadoCarrera
{% endblock %}

{% block main_content %}

    <h1>Editar estado posible de una carrera</h1>

    <form action="{{ path('backend_estadocarrera_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <div class="ancho_10">
            {{ form_widget(edit_form) }}
        </div>
        <p class="separador">
            <button type="submit">Guardar</button>
        </p>
    </form>

    <form action="{{ path('backend_estadocarrera_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="separador boton_rojo" type="submit" >Eliminar</button>
        <a class="separador" href="{{ path('backend_estadocarrera') }}">
            Volver a la lista
        </a>
    </form>
<br />
<br />
<br />

{% endblock %}