{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }} 
    <div class="titulo">Editar un cargo</div>

    <form action="{{ path('backend_cargo_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        
        <div class="ancho_10">
            {{ form_widget(edit_form) }}
        </div>
        
        <p class="separador">
            <button type="submit">Guardar</button>
        </p>
        
    </form>

    <form action="{{ path('backend_cargo_delete', { 'id': entity.id }) }}" method="post">

        <div class="invisible">
            {{ form_widget(delete_form) }}
        </div>

        <button class="separador boton_rojo" type="submit">Eliminar</button>

        <a class="separador" href="{{ path('backend_cargo') }}">Volver a la lista</a>
        
    </form>

    <br />
    <br />

{% endblock %}