{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }} 
    <div class="titulo">Cargo</div>

    <fieldset>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Código</th>
                    <td>{{ entity.codigo }}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <br />
    <div>

        <form action="{{ path('backend_cargo_delete', { 'id': entity.id }) }}" method="post">

            <a class="separador" href="{{ path('backend_cargo_edit', { 'id': entity.id }) }}">Editar</a>

            <div class="invisible">
                {{ form_widget(delete_form) }}
            </div>

            <button type="submit" class="separador boton_rojo">Eliminar</button>

            <a class="separador" href="{{ path('backend_cargo') }}">Volver a la lista</a>
        </form>

    </div>

    {% include '::includes/volver.html.twig' %}
{% endblock %}