{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Orientacion
{% endblock %}
 
{% block main_content %}

<h1>Orientacion</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id: </th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre: </th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Titulo: </th>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <th>Duracion: </th>
            <td>{{ entity.duracion }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_orientacion') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('backend_orientacion_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('backend_orientacion_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="boton_rojo">Eliminar</button>
        </form>
    </li>
</ul>

{% include '::includes/volver.html.twig' %}

{% endblock %}