{% extends 'BackendBundle::layout.html.twig' %}
 
{% block main_content %}
{{ parent() }}

<h1>Editar Recurso de establecimiento</h1>


<form action="{{ path('recurso_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="ancho_10">
        {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Guardar</button>
    </p>
    </div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('recurso') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <form action="{{ path('recurso_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>

<span class="limpiar_float"></span>

<br />
<br />

{% endblock %}