{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Crear Autoridad
{% endblock %}

{% block main_content %}

    <h1>Crear registro de recurso/laboratorio de establecimiento</h1>


    <form action="{{ path('recurso_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="ancho_10">
            {{ form_widget(form) }}
        </div>
        <div class="bloque">
            <button type="submit">Crear</button>
            <a class="separador" href="{{ path('recurso') }}">
                Volver
            </a>
        </div>
    </form>

    <br />
    <br />
{% endblock %}