{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Crear Autoridad
{% endblock %}
 
{% block main_content %}

<h1>Crear registro de recurso de establecimiento</h1>


<form action="{{ path('recurso_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="ancho_10">
        {{ form_widget(form) }}
    </div>
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('recurso') }}">
            Volver
        </a>
    </li>
</ul>

{% endblock %}