{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo">Rectores de los establecimientos</div>

<br />

<table class="grilla">
    <th>
        Nombre
    </th>
    <th>
        Establecimiento
    </th>
    <th>
        Te particular
    </th>
    <th>
        Celular
    </th>
    <th>
        Email
    </th>
{% for rector in rectores %}
    <tr>
        <td>
            <span>{{ rector.apellido ~ ', ' ~ rector.nombre }}</span>
        </td>
        <td>
            <span>{{ rector.establecimiento }}</span>
        </td>
        <td>
            <span>{{ rector.te_particular }}</span>
        </td>
        <td>
            <span>{{ rector.celular }}</span>
        </td>
        <td>
            <span>{{ rector.email }}</span>
        </td>
    </tr>
{% endfor %}

</table>

{% include '::includes/volver.html.twig' %}
    
{% endblock %}