{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Inspector
{% endblock %}
 
{% block main_content %}

<h1>Inspector</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ entity }}</td>
        </tr>
        <tr>
            <th>TE</th>
            <td>{{ entity.te }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_inspector') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('backend_inspector_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('backend_inspector_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="boton_rojo">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock %}