{% extends '::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Asignar establecimientos a {{ titulo }}</div>
    <div class="resaltado">{{ carrera.identificacion }}</div>

    <br />
    <div class="instrucciones">
        <span>
            Aquellos establecimientos donde ya se esté dictando y tenga al menos una cohorte, no podrán ser desasignados.
        </span>
    </div>
    <br />

    {#<table class="separador alineado_izquierda" >#}
    {% for form in establecimientos_forms %}
        <form action="{{ path( accion ) }}" method="post" {{ form_enctype(form) }}>
            <div class="limpiar_float">
                <div class="en_bloque float_derecha">
                    {{ form_widget( form ) }}
                </div>
                <div class="float_derecha">
                    <input type="submit" value="{{ form.vars.value.accion_del_form }}">
                </div>
            </div>
        </form>

    {% endfor %}

    <div class="limpiar_float"></div>
    <hr>
    <br />

    <div class="float_derecha limpiar_float volver"><a href="{{ path('carrera_ficha', { 'carrera_id': carrera.id } ) }}">Volver a la ficha</a></div>
    <div class="limpiar_float"></div>

    <br />
    <br />

{% endblock %}