{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Crear Norma
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Crear nueva norma</div>

    <form action="{{ path('backend_norma_crear') }}" method="post" {{ form_enctype(form) }}>
        <div class="ancho_10">
            {{ form_widget(form) }}
        </div>
        <div class="bloque">
            <button type="submit">Crear</button>
            <a class="separador" href="{{ path('backend_norma_buscar') }}">
                Volver a la lista
            </a>
        </div>
    </form>

    <br />
    <br />
{% endblock %}
