{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Lista de DomicilioLocalizacion
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Lista de domicilios de los niveles de los establecimientos</div>

    <div class="float_derecha boton_verde">
        <a href="{{ path('backend_domicilio_localizacion_new') }}">
            Crear nuevo domicilio de un nivel
        </a>
        <span class="limpiar_float"></span>
    </div>

    <table class="grilla">
        <thead>
            <tr>
                <th>Domicilio</th>
                <th>Localización</th>
                <th>Dom. principal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.domicilio }}</td>
                    <td>{{ entity.localizacion }}</td>
                    <td>{{ entity.principal ? 'Si' : 'No' }}</td>
                    <td>
                        <a href="{{ path('backend_domicilio_localizacion_edit', { 'id': entity.id }) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />
    <br />
{% endblock %}
