{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Editar vecino de edificio</div>
    <br />

    <form action="{{ path('vecino_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <div class="ancho_5">
            {{ form_widget(edit_form) }}
        </div>
        <p class="separador">
            <button type="submit">Guadar</button>
        </p>
    </form>

    <form action="{{ path('vecino_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}


        <span class="separador">
            <button type="submit" class="boton_rojo">Eliminar</button>
        </span>
        <a class="separador" href="{{ path('vecino') }}">Volver a la lista</a>
    </form>


    <div class="limpiar_float"></div>
    <br />
    <br />

{% endblock %}