{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <div class="titulo">Lista de establecimientos con los que comparten edificio los establecimientos de la DFD</div>
    <br />
    <br />


    <div class="boton_verde float_derecha">
        <a href="{{ path('vecino_new') }}">
            Crear nuevo vecino
        </a>
    </div>
    <div class="limpiar_float"></div>

    <table class="grilla">
        <thead>
            <tr>
                <th><span class="separador"></span>Nombre</th>
                <th><span class="separador"></span>Nombre</th>
                <th><span class="separador"></span>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.edificio.establecimiento[0] }}</td>
                    <td><a href="{{ path('vecino_edit', { 'id': entity.id }) }}">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <br />
{% endblock %}