{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo">RESULTADO DEL {{ acto_publico.numero }}</div>
<div class="sub_titulo">Cargos que quedaron vacantes en el acto del día {{ acto_publico.fecha }}</div>
<br />

<div class="resaltado grande">{{ acto_publico.cargo }}</div>
<br />

<div class="sub_titulo">Cuadro por antigüedad del cargo vacante </div>
<br />

{% for llamado in por_fecha %}

    {% if loop.first %}
        <table class="grilla_fit">
        <tr>
            <th>Establecimiento</th>
            <th>Fecha iniciación</th>
            <th>Fecha terminación</th>
            <th>Cantidad de horas</th>
        </tr>
    {% endif %}
    <tr>
        <td>{{ llamado.establecimiento }}</td>
        <td><span class="boton_rojo">{{ llamado.fechaIniciacion|date('d-m-Y') }}</span></td>
        <td>{{ llamado.fechaTerminacion | default('--') }}</td>
        <td>{{ llamado.cantidadHoras }}</td>
    </tr>    
    {% if loop.last %}
        </table>
    {% endif %}
{% endfor %}

<br />
<div class="sub_titulo">Cuadro por cantidad de cargos vacantes por establecimiento</div>
<br />

{% for llamado in por_cantidad %}

    {% if loop.first %}
        <table class="grilla_fit">
        <tr>
            <th>Establecimiento</th>
            <th>Cantidad de cargos</th>
            <th>Cantidad de horas</th>
        </tr>
    {% endif %}
    <tr>
        <td>{{ llamado.establecimiento }}</td>
        <td><span class="boton_rojo">{{ llamado.cantidad }}</span></td>
        <td>{{ llamado.horas }}</td>
    </tr>    
    {% if loop.last %}
        </table>
    {% endif %}
{% endfor %}

<br />

{% include '::includes/volver.html.twig' %}
    
{% endblock %}