{% extends 'BackendBundle::layout.html.twig' %}


{% block main_content %}
    <br />
    <div class="sub_titulo">Seleccione la tabla sobre la que quiere actualizar datos</div>
    <br />

    <table border="0" width="90%" align="center">
        <tbody>

            {% for tabla in tablas %}

                <tr>
                    <td><a href="{{ path(tabla.url) }}"><abbr title="{{ tabla.tabla }}">{{ tabla.etiqueta }}</abbr></a></td>
                    <td> : </td>
                    <td>{{ tabla.descripcion }}</td>
                </tr>

            {% endfor %}

            {# este es el acceso s贸lo para el super_admin #}
            <tr></tr>    
            <tr></tr>    
            <tr></tr>    
            <tr></tr>    
            <tr></tr>    
            <tr></tr>    
            <tr></tr>    
            <tr></tr>    
            <tr></tr>    
            <tr></tr>    
            <tr></tr>    
            <tr style="background-color: #DDD;">
                <td><a href="{{ path('backend_aviso') }}">Avisos</a></td>
                <td> : </td>
                <td>S贸lo para administradores del sistema.</td>
            </tr>
            <tr  style="background-color: #DDD;">
                <td><a href="{{ path('usuario_index') }}">Usuarios</a></td>
                <td> : </td>
                <td>S贸lo para administradores del sistema.</td>
            </tr>
            <tr  style="background-color: #DDD;">
                <td><a href="{{ path('backend_portada') }}">Tablas</a></td>
                <td> : </td>
                <td>S贸lo para administradores del sistema.</td>
            </tr>

        </tbody>
    </table>

{% endblock %}
