{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Lista de Modalidad
{% endblock %}
 
{% block main_content %}

<h1>Lista de Modalidad</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Abreviatura</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('backend_modalidad_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.abreviatura }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('backend_modalidad_show', { 'id': entity.id }) }}">
                                                    Mostrar
                                                </a>
                    </li>
                    <li>
                        <a href="{{ path('backend_modalidad_edit', { 'id': entity.id }) }}">
                                                    Editar
                                                </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('backend_modalidad_new') }}">
            Crear nuevo registro
        </a>
    </li>
</ul>

{% endblock %}
