{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Lista de Modalidad
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <h1>Lista de modalidades</h1>

    <div class="boton_verde float_derecha">

        <a href="{{ path('backend_modalidad_new') }}">
            Crear nueva modalidad
        </a>
    </div>
    <span class="limpiar_float"></span>

    <table class="grilla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('backend_modalidad_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.abreviatura }}</td>
                    <td>
                        <a href="{{ path('backend_modalidad_edit', { 'id': entity.id }) }}">
                            Editar
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />
    <br />
    <br />
{% endblock %}
