{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Crear Modalidad
{% endblock %}

{% block main_content %}
    {{ parent() }}

    <h1>Crear nueva modalidad</h1>

    <form action="{{ path('backend_modalidad_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="ancho_10">
            {{ form_widget(form) }}
        </div>
        <p>
            <button type="submit">Crear</button>
        </p>
        <a href="{{ path('backend_modalidad') }}">
            Volver a la lista
        </a>
    </form>
    <br />
    <br />


{% endblock %}
