{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Editar Sede/Anexo del Establecimiento
{% endblock %}
 
{% block main_content %}
{{ parent() }}

<div class="titulo">Editar Sede/Anexo del Establecimiento</div>

{% render "EstablecimientoBundle:Establecimiento:tarjeta_establecimiento" with {'establecimiento_id': entity.establecimientos.id} %}

<br />

<form action="{{ path('backend_establecimiento_edificio_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table>
        <tr>
            <td>
                {{ form_label(edit_form.cue_anexo) }}
            </td>
            <td>
                {{ form_errors(edit_form.cue_anexo) }}
                {{ entity.establecimientos.cue ~ ' ' }}{{ form_widget(edit_form.cue_anexo, {'attr':{'class':'input_talle_05'} } ) }}
            </td>    
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.nombre) }}
            </td>
            <td>
                {{ form_errors(edit_form.nombre) }}
                {{ form_widget(edit_form.nombre) }}
            </td>    
        </tr>
        <tr>
  
        </tr>             
        <tr>
            <td>
                *Edificio
            </td>
            <td>
                {{ form_errors(edit_form.edificios) }}
                {{ form_widget(edit_form.edificios) }}
            </td>    
        </tr>             
        <tr>
            <td>
                {{ form_label(edit_form.te) }}
            </td>
            <td>
                {{ form_errors(edit_form.te) }}
                {{ form_widget(edit_form.te) }}
            </td>    
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.email) }}
            </td>
            <td>
                {{ form_errors(edit_form.email) }}
                {{ form_widget(edit_form.email) }}
            </td>    
        </tr>
        <tr>
            <td>
                Fecha de creación
            </td>
            <td>
                {{ form_errors(edit_form.fecha_creacion) }}
                {{ form_widget(edit_form.fecha_creacion) }}
            </td>    
        </tr>
        <tr>
            <td>
                Fecha de baja
            </td>
            <td>
                {{ form_errors(edit_form.fecha_baja) }}
                {{ form_widget(edit_form.fecha_baja) }}
            </td>    
        </tr>
        <tr>
            <td>
                Referente SIU
            </td>
            <td>
                {{ form_errors(edit_form.referente_siu) }}
                {{ form_widget(edit_form.referente_siu) }}
            </td>    
        </tr>
        
    </table>        
  
    {{ form_rest(edit_form) }}
        
    <br />
    <div class="separador">
        <input type="submit" value="Guardar" />
    </div>
</form>
    
<div class="limpiar_float"></div>
    
<div>
    <form action="{{ path('backend_establecimiento_edificio_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('Está seguro?')">
        {{ form_widget(delete_form) }}
        <span class="float_izquierda separador">
            <input type="submit" class="boton_rojo" value="Eliminar" />
        </span>
    </form>
</div>

<div>        
    <a  class="separador" href="{{ path('backend_establecimiento_edificio') }}">
        Volver a la lista
    </a>
</div>

<br />
<br />
<div class="limpiar_float"></div>

{# unidades educativas que usan el edificio (tabla localizaciones) #}
<fieldset class="float_izquierda">
    <legend class="resaltado">Unidades educativas que usan el edificio</legend>
    {% set localizaciones  = entity.localizacion %}
    {% if localizaciones is null %}
    {% else %}  
        {% for localizacion in localizaciones %}
                {{ localizacion.unidadEducativa.nivel.nombre }}
                <span class="chica">
                <a href="{{ path('backend_localizacion_delete', {'id': localizacion.id} ) }}"> Eliminar </a>
                </span>
                {% if not loop.last %}<span> - </span>{% endif %}
        {% endfor %}  
    {% endif %}  
</fieldset>
<div class="limpiar_float"></div>

<br />
<br />

{% endblock %}