{% extends 'BackendBundle::layout.html.twig' %}
 
{% block title %}
{{ parent() }} - Crear EstablecimientoEdificio
{% endblock %}
 
{% block main_content %}

<br />
<div class="titulo">Crear una nueva sede o anexo</div>
<div class="sub_titulo">Registrar que un establecimiento usa un edificio</div>

<br />
<form action="{{ path('backend_establecimiento_edificio_create') }}" method="post" {{ form_enctype(form) }}>
        <table>
        <tr>
            <td>
                *Establecimiento
            </td>
            <td>
                {{ form_widget(form.establecimientos) }}
            </td>    
        </tr>             
        <tr>
            <td>
                *Edificio
            </td>
            <td>
                {{ form_errors(form.edificios) }}
                {{ form_widget(form.edificios) }}
            </td>    
        </tr>             
        <tr>
            <td>
                {{ form_label(form.nombre) }}
            </td>
            <td>
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </td>    
        </tr>
        <tr>
            <td>
                {{ form_label(form.cue_anexo) }}
            </td>
            <td>
                {{ form_errors(form.cue_anexo) }}
                {{ form_widget(form.cue_anexo, {'attr':{'class':'input_talle_05'} } ) }}
            </td>    
        </tr>
        <tr>
            <td>
                {{ form_label(form.te) }}
            </td>
            <td>
                {{ form_errors(form.te) }}
                {{ form_widget(form.te) }}
            </td>    
        </tr>
        <tr>
            <td>
                {{ form_label(form.email) }}
            </td>
            <td>
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </td>    
        </tr>
        <tr>
            <td>
                Fecha de creación
            </td>
            <td>
                {{ form_errors(form.fecha_creacion) }}
                {{ form_widget(form.fecha_creacion) }}
            </td>    
        </tr>
        <tr>
            <td>
                Fecha de baja
            </td>
            <td>
                {{ form_errors(form.fecha_baja) }}
                {{ form_widget(form.fecha_baja) }}
            </td>    
        </tr>
        
    </table>        
  
    {{ form_rest(form) }}
        
    <p>
        <button type="submit">Crear</button>
    </p>
</form>


<span class="float_derecha">
    <a href="{{ path('backend_establecimiento_edificio') }}">Volver a la lista</a>
</span>

<br />
<br />

{% endblock %}


{# este bloque javascript se usa para que al elegir establecimiento se sugiera el nro nuevo de anexo #}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        
        //busca y muestar el proximo numero de anexo en el campo cue_anexo de la pagina
        //de acuerdo a los eventos del combo selector de establecimientos
        function sugerir_anexo(elemento){

            var clave = $(elemento).val();
            //usando FOSJsRouingBundle
            $.ajax({
                dataType: 'json',
                async: false,
                url: Routing.generate('establecimiento_nuevo_anexo', {id: clave}),
                success: function(data){
                    $('#fd_establecimientoedificio_type_cue_anexo').val(data.respuesta);
                    return true;
                },
            });
        };

        $(document).ready( function() {

            //asigno los eventos
            $('#fd_establecimientoedificio_type_establecimientos').change( function() 
            { 
                sugerir_anexo(this);
            });
        });
    </script>

{% endblock %}        
